<!DOCTYPE html>
<html th:fragment="layout(title, links, content)" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/basePage.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<script src="js/sorttable.js"></script>
	<!-- naslov -->
	<title th:replace="${title}"></title>
	<!-- blok za dodatne linkove -->
    <th:block th:replace="${links}" />
</head>
<body>
	<header>
	</header>
	
	<h2>Knjizara</h2>

	<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
		<tr><th>Prijavljeni ste kao</th><td><a href="Korisnici/Profil" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout">odjava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">Registracija</a></li>
					<li><a href="index.html">Prijava</a></li>
					<li><a href="Knjige">Prikaz knjiga</a></li>
				</ul>
			</td>
		</tr>
	</table>

	
	<div th:replace="${content}"></div>
	<footer>
		
	</footer>
</body>
</html>