<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Dodavanje dana popusta</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<th:block th:if="${poruka != null}" >
	 		<h3 th:text="${poruka}"></h3>
	 	</th:block>
		<form method="post" action="Popust/Kreiraj">
			<table class="forma">
				<caption>Dan Popusta</caption>
				<tr>
				<th>Datum:</th>
				<td><input th:name="datum" type="date"/></td>
				</tr>
				<tr>
				<th>Popust:</th>
				<td><input th:name="popust" type="number"/></td>
				</tr>
				<tr><th></th><td><input type="submit" value="Kreiraj"/></td></tr>
			</table>
		</form>
		<ul>
			<li><a href="Knjige">povratak</a></li>
		</ul>
		
	</div>
</body>
</html>

