<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Dodavanje knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Knjige/Create" enctype="multipart/form-data">
			<table class="forma">
				<caption>Dodavanje knjige</caption>
				<tr>
				<th>Naziv:</th>
				<td><input th:name="naziv" th:type="text"/></td>
				</tr>
				<tr>
				<th>ISBN:</th>
				<td><input th:name="isbn" th:type="text"/></td>
				</tr>
				<tr>
				<th>Izdavacnja kuca:</th>
				<td><input th:name="izdavackaKuca" th:type="text"></td>
				</tr>
				<tr>
				<th>Autor:</th>
				<td><input th:name="autor" th:type="text"></td>
				</tr>
				<tr>
				<th>Godina izdavanja:</th>
				<td><input th:name="godinaIzdavanja" th:type="number"></td>
				</tr>
				<tr>
				<th>Opis:</th>
				<td><input th:name="opis" th:type="text"></td>
				</tr>
				<tr>
				<th>Cena:</th>
				<td><input th:name="cena" th:type="number"></td>
				</tr>
				<tr>
				<th>Broj stranica:</th>
				<td><input th:name="brojStranica" th:type="number"></td>
				</tr>
				<tr>
					<th>Tip poveza:</th>
					<td>
						<select name="tipPoveza">
							<option value="tvrdi">Tvrdi</option>
							<option value="meki">Meki</option>
	
						</select>
					</td>
				</tr> 
				<tr>
					<th>Pismo:</th>
					<td>
						<select name="pismo">
							<option value="latinica">Latinica</option>
							<option value="cirilica">Cirilica</option>

						</select>
					</td>
				</tr> 
				<tr>
				<th>Jezik:</th>
				<td><input th:name="jezik" th:type="text"></td>
				</tr>
				<tr>
					<th>Zanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">						
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}"/><span th:text="${itZanr.ime}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th></th><td><input type="file" name="file" /></td></tr>
				<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
			</table>
		</form>
		<ul>
			<li><a href="Knjige">povratak</a></li>
		</ul>
	</div>
</body>
</html>