<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Dodavanje knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Knjige/Create" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}"
	 enctype="multipart/form-data">
	 <ul th:style="'list-style: none'">
	 	<th:block  th:each="itGreska : ${greske}">
	 	<li th:text="${itGreska}"></li>
	 	</th:block>
	 </ul>
			<table class="forma">
				<caption>Knjiga</caption>
				<tr>
				<th>Naziv:</th>
				<td><input th:name="naziv" th:value="${knjiga.naziv}"/></td>
				</tr>
				<tr>
				<th>ISBN:</th>
				<td><input th:name="isbn" th:value="${knjiga.isbn}"/></td>
				</tr>
				<tr>
				<th>Izdavacnja kuca:</th>
				<td><input th:name="izdavackaKuca" th:value="${knjiga.izdavackaKuca}"></td>
				</tr>
				<tr>
				<th>Autor:</th>
				<td><input th:name="autor" th:value="${knjiga.autor}"></td>
				</tr>
				<tr>
				<th>Godina izdavanja:</th>
				<td><input th:type="number" th:name="godinaIzdavanja" th:value="${knjiga.godinaIzdavanja}"></td>
				</tr>
				<tr>
				<th>Opis:</th>
				<td><input th:name="opis" th:value="${knjiga.opis}"></td>
				</tr>
				<tr>
				<th>Cena:</th>
				<td><input th:name="cena" type="number" th:value="${knjiga.Cena}"></td>
				</tr>
				<tr>
				<th>Broj stranica:</th>
				<td><input th:name="brojStranica" type="number"  th:value="${knjiga.brojStranica}"></td>
				</tr>
				<tr>
					<th>Tip poveza:</th>
					<td>
						<select name="tipPoveza">
							<option value="Tvrdi" th:selected="${#strings.equals(knjiga.tipPoveza, 'Tvrdi')}">Tvrdi</option>
							<option value="Meki" th:selected="${#strings.equals(knjiga.tipPoveza, 'Meki')}">Meki</option>
	
						</select>
					</td>
				</tr> 
								<tr>
					<th>Pismo:</th>
					<td>
						<select name="pismo">
							<option value="latinica" th:selected="${#strings.equals(knjiga.tipPoveza, 'latinica')}">Latinica</option>
							<option value="cirilica" th:selected="${#strings.equals(knjiga.tipPoveza, 'cirilica')}">Cirilica</option>
						</select>
					</td>
				</tr> 
				<tr>
				<th>Jezik:</th>
				<td><input th:name="jezik" th:value="${knjiga.jezik}"></td>
				</tr>
				<tr>
					<th>Zanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">						
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}"/><span th:text="${itZanr.ime}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th></th><td><input type="file" name="file" /></td></tr>
				<tr><th></th><td><input type="submit" value="Kreiraj"/></td></tr>
			</table>
		</form>
		<ul>
			<li><a href="Knjige">povratak</a></li>
		</ul>
	</div>
</body>
</html>






<!--  -->