<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
	<form method="get">
	<table class="tabela">
	<caption>Knjige</caption>
		<thead>
			<tr>
			<th th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}">Po ISBN:<input type="search" name="isbn" th:value="${param.isbn}?: null"/></th>
			</tr>
			<tr>
				<th>Pretraga</th>
				<th>Po nazivu:<input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
				<th>Zanr:<br/>
					<select name="zanrId">
						<option value="">odaberi</option>
						<option th:each="itZanr: ${zanrovi}" th:value="${itZanr.id}" th:text="${itZanr.ime}" th:selected="${#strings.equals(itZanr.id, param.zanrId)}"></option>
					</select>
				</th>
				<th>Po autoru: <input type="search" name="autor" th:value="${param.autor}?: null"/></th>
				<th>Po jeziku: <input type="search" name="jezik" th:value="${param.jezik}?: null"/></th>
				<th>Cena:<br/>
					od:<input type="number" min="0" th:value="${param.cenaOd}?: '0'" name="cenaOd"/><br/>
					do:<input type="number" min="0" th:value="${param.cenaDo}?: '10000'" name="cenaDo"/>
				</th>
				<th><input type="submit" value="Pretraži"/></th>
			</tr> 
		</thead>
	</table>
	</form>
			<table class="tabela sortable">
				<thead>
				<tr>
					<th>r. br.</th>
					<th>slika</th>
					<th>naziv</th>
					<th>ocena</th>
					<th>jezik</th>
					<th>cena</th>
					<th>

					</th>
				</tr>	
				</thead>
				
				<tbody>
				
				<tr th:each="itKnjiga, status: ${knjige}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td><img th:src="@{'slike/'+${itKnjiga.slika}}" height="200" width="150"/></td>
					<td><a th:href="|Knjige/Details?id=${itKnjiga.id}|" th:text="${itKnjiga.naziv}"></a></td>
					<td th:text="${itKnjiga.ocena}"></td>
					<td th:text="${itKnjiga.jezik}"></td>
					<td th:text="${itKnjiga.cena}"></td>
				</tr>
				</tbody>
			</table>
			
		<ul>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}" ><a href="Korpa">Korpa</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}" ><a href="Kartica">Upravljanje karticama</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}" ><a href="Korisnici">Korisnici</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}" ><a href="Popust">Dani popusta</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}"><a href="Knjige/Create">Dodavanje knjige</a></li>
		</ul> 
	</div>
</body>
</html>