<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Knjiga</title>
</head>
<body>
	<div th:fragment="centralniDiv">	
	<form method="post" action="Knjige/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}" enctype="multipart/form-data">
		 <ul th:style="'list-style: none'">
	 	<th:block  th:each="itGreska : ${greske}">
	 	<li th:text="${itGreska}"></li>
	 	</th:block>
	 </ul>
	<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
				<caption>Knjiga</caption>
				<tr>
				<th>Naziv:</th>
				<td><input th:name="naziv" th:value="${knjiga.naziv}"/></td>
				</tr>
				<tr>
				<th>ISBN:</th>
				<td th:text="${knjiga.isbn}"/></td>
				</tr>
				<tr>
				<th>Izdavacnja kuca:</th>
				<td><input th:name="izdavackaKuca" th:value="${knjiga.izdavackaKuca}"></td>
				</tr>
				<tr>
				<th>Autor:</th>
				<td><input th:name="autor" th:value="${knjiga.autor}"></td>
				</tr>
				<tr>
				<th>Godina izdavanja:</th>
				<td><input th:name="godinaIzdavanja" th:type="number" th:value="${knjiga.godinaIzdavanja}"></td>
				</tr>
				<tr>
				<th>Opis:</th>
				<td><input th:name="opis" th:value="${knjiga.opis}"></td>
				</tr>
				<tr>
				<th>Cena:</th>
				<td><input th:name="cena" th:type="number" th:value="${knjiga.Cena}"></td>
				</tr>
				<tr>
				<th>Broj stranica:</th>
				<td><input th:name="brojStranica" th:type="number" th:value="${knjiga.brojStranica}"></td>
				</tr>
				<tr>
					<th>Tip poveza:</th>
					<td>
						<select name="tipPoveza">
							<option value="Tvrdi" th:selected="${#strings.equals(knjiga.tipPoveza, 'Tvrdi')}">Tvrdi</option>
							<option value="Meki" th:selected="${#strings.equals(knjiga.tipPoveza, 'Meki')}">Meki</option>
	
						</select>
					</td>
				</tr> 
				<tr>
				<th>Pismo:</th>
				<td><input th:name="pismo" th:value="${knjiga.pismo}"></td>
				</tr>
				<tr>
				<th>Jezik:</th>
				<td><input th:name="jezik" th:value="${knjiga.jezik}"></td>
				</tr>
				<tr>
				<th>Ocena:</th>
				<td th:name="ocena" th:text="${knjiga.ocena}"></td>
				</tr>
				<tr>
				<th>BrojPrimeraka:</th>
				<td th:name="brojPrimeraka" th:text="${knjiga.brojPrimeraka}"></td>
				</tr>
				<tr>
					<th>Zanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">						
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}"/><span th:text="${itZanr.ime}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th></th><td><input type="file" name="file" /></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		<form  method="post" action="Knjige/Porucivanje" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}">
		<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
			<caption>Dodavanje primeraka</caption>
			<tr><th></th><td><input th:name="brojPrimeraka"/></td></tr>
			<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
			</table>
		</form>	
		<table class="forma" th:if="${session.prijavljeniKorisnik == null or session.prijavljeniKorisnik.uloga == 'kupac'}">
			<caption>Knjiga</caption>
			<tr>
			<th>Naziv:</th>
			<td th:text="${knjiga.naziv}"></td>
			</tr>
			<tr>
			<th>ISBN:</th>
			<td th:text="${knjiga.isbn}"></td>
			</tr>
			<tr>
			<th>Izdavacnja kuca:</th>
			<td th:text="${knjiga.izdavackaKuca}"></td>
			</tr>
			<tr>
			<th>Autor:</th>
			<td th:text="${knjiga.autor}"></td>
			</tr>
			<tr>
			<th>Godina izdavanja:</th>
			<td th:text="${knjiga.godinaIzdavanja}"></td>
			</tr>
			<tr>
			<th>Opis:</th>
			<td th:text="${knjiga.opis}"></td>
			</tr>
			<tr>
			<th>Cena:</th>
			<td th:text="${knjiga.Cena}"></td>
			</tr>
			<tr>
			<th>Broj stranica:</th>
			<td th:text="${knjiga.brojStranica}"></td>
			</tr>
			<tr>
			<th>Tip poveza:</th>
			<td th:text="${knjiga.tipPoveza}"></td>
			</tr>
			<tr>
			<th>Pismo:</th>
			<td th:text="${knjiga.pismo}"></td>
			</tr>
			<tr>
			<th>Jezik:</th>
			<td th:text="${knjiga.jezik}"></td>
			</tr>
			<tr>
			<th>Ocena:</th>
			<td th:text="${knjiga.ocena}"></td>
			</tr>
			<tr>
				<th>zanr:</th>
				<td>
					<ul>
						<li th:each="itZanr: ${knjiga.zanrovi}"><a th:text="${itZanr.ime}"></a></li>
					</ul>
				</td>
			</tr>
		</table>
		<form  method="post" action="Korpa/Dodavanje" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}">
		<input type="hidden" name="knjigaId" th:value="${knjiga.id}"/>
			<table class="forma">
			<caption>Dodavanje u korpu</caption>
			<tr><th>Broj primeraka</th><td><input th:name="brojPrimeraka"/></td></tr>
			<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
			</table>
		</form>
		<form  method="post" action="ListaZelja/Dodaj" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}">
		<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
			<caption>Dodavanje u listu zelja</caption>
			<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
			</table>
		</form>		
		<ul>
			<li><a href="Knjige">Povratak</a></li>
		</ul>
	</div>
</body>
</html>