<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Korisnici</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<table class="tabela sortable">
			<caption>Korisnici</caption>
			<thead>
			<tr>
				<th>r. br.</th>
				<th>Korisnik</th>
				<th>Datum registracije</th>
				<th>Uloga</th>
			</tr>	
			</thead>
			
			<tbody>
			
			<tr  th:each="itKorisnik, status: ${korisnici}">
				<td class="broj" th:text="${status.index + 1}"></td>
				<td><a th:href="|Korisnici/Details?korisnickoIme=${itKorisnik.korisnickoIme}|" th:text="${itKorisnik.korisnickoIme}"></a></td>
				<td th:text="${itKorisnik.datumIVR}"></td>
				<td th:text="${itKorisnik.uloga}"></td>
			</tbody>
		</table>

		<ul>
			<li><a href="Knjige">Povratak</a></li>
		</ul>
	</div>
</body>
</html>