<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		 <th:block th:if="${dnevniPopust != null}" >
	 	<h3 th:text="'Dnevni popust: ' + ${dnevniPopust} + '%'"></h3>
	 	</th:block>
			<table class="tabela sortable">
			<caption>Korpa</caption>
				<thead>
				<tr>
					<th>r. br.</th>
					<th>Naziv</th>
					<th>Autor</th>
					<th>Kolicina</th>
					<th>Cena</th>
					<th>

					</th>
				</tr>	
				</thead>
				
				<tbody>
				
				<tr th:if="${korpa.kupljeneKnjige != null or not #lists.isEmpty(korpa.kupljeneKnjige)}" th:each="itKnjiga, status: ${korpa.kupljeneKnjige}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td><a th:href="|Knjige/Details?id=${itKnjiga.knjiga.id}|" th:text="${itKnjiga.knjiga.naziv}"></a></td>
					<td th:text="${itKnjiga.knjiga.autor}"></td>
					<td th:text="${itKnjiga.brojPrimeraka}"></td>
					<td th:text="'Cena knjige: ' +${itKnjiga.knjiga.cena} + ' ' +'Ukupna: ' +${itKnjiga.cena}"></td>
					<td><form method="post" action="Korpa/Brisanje">
					<input type="hidden" name="brojBodova" th:value="${bodovi}"></input>
					<input type="hidden" name="id" th:value="${itKnjiga.brisanjeId}"/>
					<input type="submit" value="obrisi"/>
					</form></td>
				</tr>
				</tbody>
			</table>

			<form method="post" action="Korpa/Kupovina">
			<table class="forma">
				<tr><th>Broj knjiga:</th><td th:text="${korpa.brojKnjiga}"></td></tr>
				<tr th:if="${dnevniPopust != null}"><th>Ukupna cena:</th><td  th:text="${korpa.ukupnaCena} + ' - ' + ${dnevniPopust} + '%'"></td></tr>
				<tr th:if="${bodovi == null and dnevniPopust == null}"><th>Ukupna cena:</th><td  th:text="${korpa.ukupnaCena}"></td></tr>
				<tr th:unless="${bodovi == null}"><th>Cena sa popustom:</th><td  th:text="${cena}"></td></tr>
				<tr><th></th><td>
				<input th:unless="${bodovi == null}" type="hidden" name="cena" th:value="${cena}"/>
				<input type="hidden" name="brojBodova" th:value="${bodovi}"/>
				<input th:if="${dnevniPopust != null}" type="hidden" name="dnevniPopust" th:value="${dnevniPopust}"/>
				<input th:if="${not #lists.isEmpty(korpa.kupljeneKnjige)}" type="submit" value="Kupi"/></td></tr>
			</table>
			</form>
			<form th:if="${kartica != null}" method="post" action="Kartica/Bonus">
			<table class="forma">
				<tr><th   style="text-align:left" th:text="'Bonus poeni:' + ${kartica.brojPoena}"></th><td><input type="number" name="brojBodova" value="0"></td></tr>
				<tr><th></th><td><input th:if="${not #lists.isEmpty(korpa.kupljeneKnjige)} and ${dnevniPopust == null}" type="submit" value="Iskoristi bonus"/></td></tr>
			</table>
			</form>
			
			<h3 th:text="${poruka}"></h3>
			<ul>
			<li><a href="Knjige">Povratak</a></li>
		</ul>
	</div>

</body>
</html>