<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Kupovina</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<table class="forma">
			<caption th:text="'Kupovina: ' + ${kupovina.datumKupovine}"></caption>
			<tr>
			<th>Ukupna cena:</th>
			<td th:text="${kupovina.ukupnaCena}"></td>
			</tr>
			<tr>
			<th>Ukupan broj knjiga:</th>
			<td th:text="${kupovina.brojKnjiga}"></td>
			</tr>
			<tr>
			<th>Korisnik:</th>
			<td th:text="${kupovina.korisnik.korisnickoIme}"></td>
			</tr>
		</table>
		<table class="tabela sortable">
			<caption>Kupljene knjige</caption>
			<thead>
			<tr>
				<th>r. br.</th>
				<th>naziv</th>
				<th>ocena</th>
				<th>jezik</th>
				<th>cena</th>
				<th>Broj primeraka</th>
			</tr>	
			</thead>
			
			<tbody>
			
			<tr  th:each="itKnjiga, status: ${kupljeneKnjige}">
				<td class="broj" th:text="${status.index + 1}"></td>
				<td><a th:href="|Knjige/Details?id=${itKnjiga.knjiga.id}|" th:text="${itKnjiga.knjiga.naziv}"></a></td>
				<td th:text="${itKnjiga.knjiga.ocena}"></td>
				<td th:text="${itKnjiga.knjiga.jezik}"></td>
				<td th:text="${itKnjiga.knjiga.cena}"></td>
				<td th:text="${itKnjiga.brojPrimeraka}"></td>
			</tbody>
		</table>

		<ul>
			<li><a href="Knjige">Povratak</a></li>
		</ul>
	</div>
</body>
</html>