<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Kupovina</title>
</head>
<body>
	<div th:fragment="centralniDiv">
			<table class="tabela sortable">
			<caption>Kupovina</caption>
				<thead>
				<tr>
					<th>r. br.</th>
					<th>Cena</th>
					<th>Datum</th>
				</tr>	
				</thead>
				
				<tbody>
				
				<tr th:each="itKupovina, status: ${kupovine}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td th:text="${itKupovina.ukupnaCena}"></td>
					<td><a href="Korisnici/Profil" th:text="${itKupovina.datumKupovine}"></a></td>
				</tr>
				</tbody>
			</table>

		<ul>
			<li><a href="Knjige">Povratak</a></li>
		</ul>
	</div>

</body>
</html>