<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Kartice</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<table class="tabela sortable">
			<caption>Loyality kartice</caption>
			<thead>
			<tr>
				<th>r. br.</th>
				<th>korisnik</th>
				<th></th>
				<th></th>
			</tr>	
			</thead>
			
			<tbody>
			
			<tr  th:each="itKartica, status: ${kartice}">
				<td class="broj" th:text="${status.index + 1}"></td>
				<td th:text="${itKartica.korisnik.korisnickoIme}"></td>
				<td>
					<form action="Kartica/Odobravanje" method="post">
						<input type="hidden" name="status" value="0"/>
						<input type="hidden" name="id" th:value="${itKartica.id}"/>
						<input type="submit" value="odbij"/>
					</form>
				</td>
				<td>
					<form action="Kartica/Odobravanje" method="post">
						<input type="hidden" name="status" value="1"/>
						<input type="hidden" name="id" th:value="${itKartica.id}"/>
						<input type="submit" value="odobri"/>
					</form>
				</td>
			</tr>
			</tbody>
		</table>

		<ul>
			<li><a href="Knjige">Povratak</a></li>
		</ul>
	</div>
</body>
</html>