<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Profil</title>
</head>
<body>
	<div th:fragment="centralniDiv">
	<table class="forma" th:if="${korisnik != null}">
			<caption>Korisnicke informacije</caption>
			<tr>
			<th>Ime:</th>
			<td th:text="${korisnik.ime}"></td>
			</tr>
			<tr>
			<th>Prezime:</th>
			<td th:text="${korisnik.prezime}"></td>
			</tr>
			<tr>
			<th>Email:</th>
			<td th:text="${korisnik.email}"></td>
			</tr>
			<tr>
			<th>Korisnicko ime:</th>
			<td th:text="${korisnik.korisnickoIme}"></td>
			</tr>
			<tr>
			<th>Datum rodjenja:</th>
			<td th:text="${korisnik.datumR}"></td>
			</tr>
			<tr>
			<th>Broj telefona:</th>
			<td th:text="${korisnik.brojTelefona}"></td>
			</tr>
			<tr>
			<th>Adresa:</th>
			<td th:text="${korisnik.adresa}"></td>
			</tr>
			<tr th:if="${session.prijavljeniKorisnik.uloga == 'administrator' and korisnik.uloga == 'kupac'}" >
			<th>Blokiran:</th>
			<td th:switch="${korisnik.blokiran}">
				  <span th:case="false">Ne</span>
				  <span th:case="true">Da</span>
			</td>
			</tr>
			<tr th:if="${session.prijavljeniKorisnik.uloga == 'administrator' and korisnik.uloga != 'administrator'}">
			<th></th>
				<td th:if="${korisnik.blokiran == false}">
					<form action="Korisnici/Ogranicenje" method="post">
						<input type="hidden" name="status" value="1"/>
						<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
						<input type="submit" value="blokiraj"/>
					</form>
				</td>
		

				<td th:if="${korisnik.blokiran == true}">
					<form action="Korisnici/Ogranicenje" method="post">
						<input type="hidden" name="status" value="0"/>
						<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
						<input type="submit" value="odblokiraj"/>
					</form>
				</td>
			
			</tr>
			
		</table>
		<form method="post" action="Kartica/Kreiraj">
			<table class="forma">
			<tr>
			<th>Loyality kartica:</th>
			<td th:if="${kartica != null and kartica.status == T(com.ftn.OWPLibrary.enumerate.EStatusKartice).ODOBRENA}">Ima</td>
			<td th:if="${kartica != null and kartica.status == T(com.ftn.OWPLibrary.enumerate.EStatusKartice).CEKANJE}">Zatrazena</td>
			<td th:unless="${kartica != null}">Nema</td>
			</tr>
				<tr><th></th><td><input th:if="${session.prijavljeniKorisnik.uloga == 'kupac' and kartica == null}"  type="submit" value="Zatrazi karticu"/></td></tr>
			</table>
		</form>
			<table class="tabela sortable">
			<caption>Kupovine</caption>
				<thead>
				<tr>
					<th>r. br.</th>
					<th>Cena</th>
					<th>Datum</th>

				</tr>	
				</thead>
				
				<tbody>
				
				<tr th:each="itKupovina, status: ${kupovine}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td th:text="${itKupovina.ukupnaCena}"></td>
					<td><a th:href="|Korpa/Details?id=${itKupovina.id}|" th:text="${itKupovina.datumKupovine}"></a></td>
					
				</tr>
				</tbody>
			</table>
			
			<table class="tabela sortable">
			<caption>Lista zelja</caption>
				<thead>
				<tr>
					<th>r. br.</th>
					<th>naziv</th>
					<th>ocena</th>
					<th>jezik</th>
					<th>cena</th>
					<th th:if="${session.prijavljeniKorisnik.uloga == 'kupac'}">

					</th>
				</tr>	
				</thead>
				
				<tbody>
				
				<tr th:each="itKnjiga, status: ${knjige}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td><a th:href="|Knjige/Details?id=${itKnjiga.knjiga.id}|" th:text="${itKnjiga.knjiga.naziv}"></a></td>
					<td th:text="${itKnjiga.knjiga.ocena}"></td>
					<td th:text="${itKnjiga.knjiga.jezik}"></td>
					<td th:text="${itKnjiga.knjiga.cena}"></td>
					<td th:if="${session.prijavljeniKorisnik.uloga == 'kupac'}">
						<form action="ListaZelja/Brisanje" method="post">
							<input type="hidden" name="id" th:value="${itKnjiga.knjiga.id}"/>
							<input type="submit" value="obrisi"/>
						</form>
					</td>
				</tr>
				</tbody>
			</table>

		<ul>
			<li><a href="Knjige">Povratak</a></li>
		</ul>
	</div>

</body>
</html>