<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Registracija</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Korisnici/Registracija">
		<table class="forma">
			<caption>Registracija</caption>
			<tr><th>Korisnicko ime:</th><td><input type="text" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/></td></tr>
			<tr><th>Lozinka:</th><td><input type="password" name="lozinka" th:value="${korisnik.lozinka}"/></td></tr>
			<tr><th>Ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
			<tr><th>Email:</th><td><input type="text" name="email" th:value="${korisnik.email}"/></td></tr>
			<tr><th>Ime:</th><td><input type="text" name="ime" th:value="${korisnik.ime}"/></td></tr>
			<tr><th>Prezime:</th><td><input type="text" name="prezime" th:value="${korisnik.prezime}"/></td></tr>
			<tr><th>Datum Rodjenja:</th><td><input type="date" name="datumR" th:value="${korisnik.datumR}"/></td></tr>
			<tr><th>Adresa:</th><td><input type="text" name="adresa" th:value="${korisnik.adresa}"/></td></tr>
			<tr><th>Broj telefona:</th><td><input type="text" name="brojTelefona" th:value="${korisnik.brojTelefona}"/></td></tr>

			<tr><th></th><td><input type="submit" value="Registracija"/></td></tr>
		</table>
		</form>
		<p th:text="${poruka}"></p>
	</div>
</body>
</html>